*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color:rgb(157, 157, 252);
    
}

#page2{
    height: 100%;
    width: 100%;
    background-color:rgb(104, 104, 241);
    text-transform: uppercase;
    
}

#page3{
    height: 100%;
    width: 100%;
    background-color:rgb(47, 47, 243);
    
}

#page2 img{
    position: relative;
    height: 100%;
    width: 20%;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}
#page2 h1{
    position: absolute;
    font-size: 31vw;
    z-index: 9;
    color: black;
    top: 25%;
    font-weight: 500;

}
